<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>

<style type="text/css">

	.container {
		margin: 0 10%;
			
	}
	
	header, footer {
		
		background: #CCC;	
	}


</style>





</head>

<body>


	<div class="container">
    
    <header>
    	<h1>This is a header</h1>
     </header>
    	<section>
        	

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat, orci non condimentum laoreet, lectus mi dictum augue, a bibendum arcu odio et ipsum. Integer porta viverra orci sit amet venenatis. Nullam viverra posuere enim luctus commodo. Quisque eu volutpat mi. Suspendisse eget sapien vel quam hendrerit eleifend. Vivamus vel hendrerit risus. Aliquam tempor leo a dictum sodales. Phasellus a pharetra quam, et volutpat mauris.</p>

<p>Donec tempus lectus volutpat lorem luctus, non blandit massa iaculis. Phasellus eleifend imperdiet pellentesque. In sed velit porttitor magna pellentesque malesuada et ac augue. Aliquam nisl diam, semper aliquet tempor eu, vulputate sit amet velit. In hac habitasse platea dictumst. Donec id vestibulum massa. Aenean rutrum, ante sit amet interdum vulputate, arcu erat tempor sem, quis mattis lorem massa ut orci. Praesent in nibh rutrum, molestie magna at, auctor libero. Sed in ante vel quam cursus faucibus quis et orci. Donec adipiscing at dui volutpat ullamcorper. Donec gravida erat sit amet aliquam lacinia.</p>

<p>Nulla vehicula dui ac elementum fringilla. Nulla lacinia ante risus, eget facilisis diam dapibus non. Cras vitae mauris ac leo scelerisque dictum. Nunc volutpat mi et enim faucibus lacinia. Vestibulum sollicitudin eros sed massa tincidunt tristique. Nullam vel dictum turpis. Maecenas lacinia egestas libero vel vulputate. Morbi est diam, porttitor eu pretium eget, lacinia eget arcu.</p>

</section>

<footer>

	<p>This is a footer</p>

</footer>

</div>



</body>
</html>
